.question{
    text-align: left;
    border:none;
    outline: none;
    background-color:#6DA927;
    color:#eee;
    margin-bottom:10px;
    padding:10px;
    width:100%;
    box-shadow: 4px 4px 5px grey;
}

.question:enabled:hover {
    background-color: #91B327
}
.question:enabled:active {
    transform: translateY(4px);
}

.question:disabled{
    background-color:#356c24;
}
.textmarker{
    height:1.5em;
    vertical-align:middle
}
.hidden{
  display:none;
}
.questionmark{
  height:1.2em;
  float:right;
}
}

.letterbox{
  font-weight:bold;
  border-width: 2px;
  width:1.2em;
  height:1.2em;
  text-align:center;
  background-color:#fff;
  color:#000;

  transform: rotate(90deg);
  /* -webkit-transform: rotate(270deg); */
  /* -moz-transform:rotate(270deg); */
  /* -o-transform: rotate(270deg); */
}
