.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation > li {
    float: left;
}

.navigation > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation > li a:hover {
    background-color: #111;
}
.question{
    text-align: left;
    border:none;
    display: inline-block;
    vertical-align: top;
    outline: none;
    background-color:#6DA927;
    color:#eee;
    margin-bottom:10px;
    padding:10px;
    width:100%;
    box-shadow: 4px 4px 5px grey;
}
.hint{
    background-color: #c3c3c3;
    border-radius: 5px;
    padding-top: 1px;
    padding-left: 10px;
}
.question:enabled:hover {
    background-color: #91B327
}
.question:enabled:active {
    transform: translateY(4px);
}

.question:disabled{
    background-color:#356c24;
}
.textmarker{
    height:1.5em;
    vertical-align:middle
}
.hidden{
  display:none;
}
.questionmark{
  height:1.2em;
  float:right;
}
.swal2-container{
    z-index:10000 !important;
}

.letterbox{
  font-weight:bold;
  border-width: 1px;
  border-style:solid;
  width:1.5em;
  height:1.5em;
  text-align:center;
  background-color:#fff;
  color:#000;

  transform: rotate(90deg);
  /* -webkit-transform: rotate(270deg); */
  /* -moz-transform:rotate(270deg); */
  /* -o-transform: rotate(270deg); */
}
