
<link rel="stylesheet" href="css/faq.css" />
<section class="faq-section">
  <input type="checkbox" id="q2">
  <label for="q2">Hoe weet ik of ik de goede richting heb gekozen?</label>
  <div class=faq-answer>
    <p>Aan de rechte lijn op de kaart kun je zien of jij het doel nadert.</p>
  </div>
</section>

<section class="faq-section">
  <input type="checkbox" id="q3">
  <label for="q3">Waar is het noorden?</label>
  <div class=faq-answer>
    <p>
      Boven aan de kaart.
    </p>
  </div>
</section>

<section class="faq-section">
  <input type="checkbox" id="q4">
  <label for="q4">Hoe vind ik de opdrachten?</label>
  <div class=faq-answer>
    <p>
      Als je exact op de juiste STOP staat, krijg je de opdrachten in beeld.
    </p>
  </div>
</section>

<section class="faq-section">
  <input type="checkbox" id="q5">
  <label for="q5">Ik kan niet vinden waar ik ben?</label>
  <div class=faq-answer>
    <p> Je kan je zelf gemakkelijk vinden door op icon <i class="fa fa-map-marker" aria-hidden="true"></i> rechts boven op je scherm te klikken.  </p>
  </div>
</section>

<section class="faq-section">
  <input type="checkbox" id="q6">
  <label for="q6">Mijn locatie word onnauwkeurig weergegeven</label>
  <div class=faq-answer>
    <ul>
      <li>Je bent een Anroid gebruiker. Zet je telefoon op nauwkeurig modus. Dit staat  bij: instellingen > locatie > modus</li>
      <li>Je apparaat ondersteunt niet nauwkeurig gps </li>
    </ul>
  </div>
</section>

<section class="faq-section">
  <input type="checkbox" id="q7">
  <label for="q7">Mijn GPS werkt niet? </label>
  <div class=faq-answer>
    <ul>
      <li>Controleer of je GPS aanstaat.</li>
      <li>Laad opnieuw het spel.</li>
      <li>Zet je apparaat aan en uit.</li>
    </ul>
  </div>
</section>

<section class="faq-section">
  <input type="checkbox" id="q8">
  <label for="q8">Waarom vraagt het spel om opslag?</label>
  <div class=faq-answer>
    <p> Om te kaart te kunnen gebruiken in het spel.  </p>
  </div>
</section>
