<ul class=navigation>
  <li{{#if disable-speurtocht-nav}} class="disabled"{{/if}}><a href="index.html">Speurtocht</a></li>
  <li{{#if disable-help-nav}} class="disabled"{{/if}}><a href="help.html">Help</a></li>
  <li{{#if disable-colofon-nav}} class="disabled"{{/if}}><a href="colofon.html">Colofon</a></li>
</ul>
