{{#> base title="Colofon" disable-colofon-nav=true}}
  {{#*inline "content" }}
  <h2>
    Het spel is ontwikkeld door de “Werkgroep Moerenburg” in het kader van de IVN opleiding tot <a href="https://www.ivn.nl/afdeling/tilburg">natuurgids</a>.
  </h2>

  <img src="images/groepsFoto.jpg" alt="grouprs Foto"style="width:100%;"/>

  <div style="margin: auto">
    <ul style="text-align:left; display:inline-block;">
      <li> B. Versteijnen</li>
      <li> H. van de Rakt</li>
      <li> P. van der Vaart</li>
      <li> A. Musone</li>
      <li> J. Groenendijk</li>
    </ul>


  Administrator en website development: <a href="https://github.com/kwibus/geesten-in-moerenburg">R. Sikma</a>
    <p style="font-size:10px">(Foto's en teksten zij afkomstig van de werkgroep. Zo niet, dan is er gepoogd de belanghebbenden te achterhallen)</p>

  </div>

  {{/inline}}
{{/ base}}
