{{#> base title="Geesten in Moerenburg" disable-speurtocht-nav=true}}
  {{#*inline "content" }}

   <link rel="stylesheet" href="css/global.css" />
  <h2 style="font-size:20px;">
    Een spel over de natuur en historie in Moerenburg voor kinderen groep 8 basisschool en brugklassers V.O.
  </h2>
  <img src="images/moerenburg.png" alt="regio moerenburg" style="width:100%;"/>
  <h2 style="font-size:18px;font-weight:bold;">
    Dit is een gps speurtocht door Moerenburg die je kan lopen met je mobiel.
  </h2>
  <div style="margin: auto">
    <ul style="text-align:left; font-size:large; display:inline-block;">
      <li>Zorg dat je gps aanstaat.<br>
        (voor android moet het op nauwkeurig modus staan<br>
        om dit aan te passen ga naar: instelling > Locatie > Modus) </li>
      <li>Dat je internet verbinding hebt.(bij voorkeur Chrome, kost 5Mb)</li>
      <li>Zorg dat je batterijen geladen zijn.</li>
      <li>De tocht duurt ongeveer 75 minuten.</li>
      <li>Blijf op de paden.</li>
      <li>Wees voorzichtig en let op het verkeer</li>
      <li>Volg de aanwijzingen op je mobiel</li>
      <li>De start is bij <a href="http://www.cafezomerlust.nl">Zomerlust.</a>.</li>
      <li>Vertrek daar in oostelijke richting.</li>
    </ul><br>

    <a class="button" href="spel.html"style="text-decoration:none; font-size:25px;font-weight:bold;text-align:center;width:auto">Start</a>
  </div>

  {{/inline}}
{{/ base}}
